<nav class="nav navbar-expand-lg navbar-light bg-black border-bottom box-shadow mb-3">
  <!-- <img src="https://bharatbookstore.com/cdn/shop/files/WhatsApp_Image_2023-09-30_at_10.07.08_PM_1200x1200.jpg?v=1697272002" alt="logo" width="35px" height="35px"/> -->
  <h1><a routerLink="">Bharat Books</a></h1>
    <div *ngIf="menuType !== 'seller'" class="nav-search">
    <input type="text" #searchInput (keyup)="searchProduct($event)" (blur)="hideSearch()" placeholder="Search products" />
    <button (click)="submitSearch(searchInput.value)">Search</button>
    <ul class="suggested-search" *ngIf="searchResult">
      <li *ngFor="let item of searchResult">
        <a (mousedown)="redirectToDetails(item.id)">{{item.name}}</a>
      </li>
    </ul>
  </div>
  <div [ngSwitch]="menuType" class="res">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="seller-auth">Seller</a></li>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="user-auth">Login/Sign-up</a></li>
      <li><a href="#">Cart({{cartItems}})</a></li>
    </ul>
    <ul *ngSwitchCase="'user'">
      <li><a routerLink="seller-auth">Seller</a></li>
      <li><a routerLink="">Home</a></li>
      <li><a>{{userName | titlecase}}</a></li>
      <li><a routerLink="my-orders" >My Orders</a></li>
      <li><a (click)="userLogout()">Logout</a></li>
      <li><a [routerLink]="cartItems>0?'cart-page':null">Cart({{cartItems}})</a></li>
    </ul>
    <ul *ngSwitchCase="'seller'">
      <li><a routerLink="seller-add-product">Add Product</a></li>
      <li><a routerLink="seller-home">List</a></li>
      <li><a (click)="logout()">Logout</a></li>
      <li><a href="#">{{ sellerName | titlecase }}</a></li>
    </ul>
  </div>
</nav>
